// 黑色
$color-black1: #000000;
$color-black2: #282b24;

.bc-black1 {
  background-color: $color-black1;
}
.bc-black2 {
  background-color: $color-black2;
}
.color-black1 {
  color: $color-black1;
}
.color-black2 {
  color: $color-black2;
}

// 灰色
$color-grey1: #6a6b65;
$color-grey2: #9e9d9a;
$color-grey3: #c5c4bc;

.bc-grey1 {
  background-color: $color-grey1;
}
.bc-grey2 {
  background-color: $color-grey2;
}
.bc-grey3 {
  background-color: $color-grey3;
}
.color-grey1 {
  color: $color-grey1;
}
.color-grey2 {
  color: $color-grey2;
}
.color-grey3 {
  color: $color-grey3;
}

// 白色
$color-white: #ffffff;

.bc-white {
  background-color: $color-white;
}
.color-white {
  color: $color-white;
}

// 红色
$color-red1: #b43f27;
$color-red2: #da5f46;
$color-red3: #f9684b;
$color-red4: #e59180;

.bc-red1 {
  background-color: $color-red1;
}
.bc-red2 {
  background-color: $color-red2;
}
.bc-red3 {
  background-color: $color-red3;
}
.bc-red4 {
  background-color: $color-red4;
}
.color-red1 {
  color: $color-red1;
}
.color-red2 {
  color: $color-red2;
}
.color-red3 {
  color: $color-red3;
}
.color-red4 {
  color: $color-red4;
}

// 绿色
$color-green1: #505143;
$color-green2: #67705f;
$color-green3: #929e88;
$color-green4: #a6b2ab;

.bc-green1 {
  background-color: $color-green1;
}
.bc-green2 {
  background-color: $color-green2;
}
.bc-green3 {
  background-color: $color-green3;
}
.bc-green4 {
  background-color: $color-green4;
}
.color-green1 {
  color: $color-green1;
}
.color-green2 {
  color: $color-green2;
}
.color-green3 {
  color: $color-green3;
}
.color-green4 {
  color: $color-green4;
}

// 蓝色
$color-blue1: #47678d;
$color-blue2: #709bcd;
$color-blue3: #8cc6db;
$color-blue4: #c9e3ed;

.bc-blue1 {
  background-color: $color-blue1;
}
.bc-blue2 {
  background-color: $color-blue2;
}
.bc-blue3 {
  background-color: $color-blue3;
}
.bc-blue4 {
  background-color: $color-blue4;
}
.color-blue1 {
  color: $color-blue1;
}
.color-blue2 {
  color: $color-blue2;
}
.color-blue3 {
  color: $color-blue3;
}
.color-blue4 {
  color: $color-blue4;
}

// 黄色
$color-yellow1: #e5aa49;
$color-yellow2: #cfb169;
$color-yellow3: #dfc380;
$color-yellow4: #f3f1ea;

.bc-yellow1 {
  background-color: $color-yellow1;
}
.bc-yellow2 {
  background-color: $color-yellow2;
}
.bc-yellow3 {
  background-color: $color-yellow3;
}
.bc-yellow4 {
  background-color: $color-yellow4;
}
.color-yellow1 {
  color: $color-yellow1;
}
.color-yellow2 {
  color: $color-yellow2;
}
.color-yellow3 {
  color: $color-yellow3;
}
.color-yellow4 {
  color: $color-yellow4;
}

// 紫色
$color-purple1: #643e85;
$color-purple2: #9263bb;
.bc-purple1 {
  background-color: $color-purple1;
}
.bc-purple2 {
  background-color: $color-purple2;
}
.color-purple1 {
  color: $color-purple1;
}
.color-purple2 {
  color: $color-purple2;
}